<div class="row">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <div id="clearance" class="sign-in">
        <h2><%= t(".title") %></h2>

        <%= render partial: '/sessions/form' %>
        </div>
    </div>
</div>
