<h1>Opportunities</h1>

<div class="row py-3">
    <%= link_to new_opportunity_path do %>
        <i class="bi bi-plus-circle"></i> Create new Opportunity
    <% end %>
</div>

<% grouped_opportunities = group_by_state(@opportunities) %>
<% grouped_opportunities.each do |latest_process_step_state, opportunities| %>
    <h2><%= ProcessStep.states[latest_process_step_state].titleize %></h2>
    <% if grouped_opportunities[latest_process_step_state].blank? %>
        <p class="text-muted">No opportunities with latest process step in this state.</p>
        <% next %>
    <% end %>
    <%= render partial: "opportunities_list", locals: { opportunities: opportunities } %>
<% end %>
